<div class="main-title"> 
 <div class="title">
     <div class="head">
       <h1 class="h-title">Shop Kitchen and Bath Cabinets</h1>
     </div>
     <div class="tab-main">
        <ul class="tabs">
          <li class="tab">
             <div class="tab-btn">
               <span>RTA Kitchen Cabinets</span>
             </div>
          </li>
          <li class="tab">
            <div class="tab-btn">
               <span>RTA Bathroom Cabinets</span>
             </div>
          </li>
        </ul>
     </div>
 </div>
</div>

<div class="main-box">
   <div class="main-cont">
       <div class="Box">
         <div class="image">
            <a class="img-box" href="">
              <span>
                <img class="img-fri" src="https://www.cabinetall.com/media/catalog/category/SW-Door.PNG">  
              </span>
            </a>
         </div>
         <div class="Box-details">
           <strong class="product-name">
             <a class="pro-name" href="">Shaker White</a>
           </strong>
           <div class="product-price"> 
              <span class="pri-text">10x10 Kitchen Starting</span>
             <div class="main-price">
               <span class="sp-orig">$4,176.00</span>
               <span class="sp-final">$2,923.20</span>
             </div>
             <div class="btn-shop">
               <div class="main-shop">
                  <a href="" class="btn-shop">
                    <span class="shop-text">SHOP NOW</span>
                  </a>
               </div>
             </div>
           </div>
         </div>
       </div>
</div>

<style>
.head{
  display: flex;
  justify-content: center;
}
.tabs{
  list-style: none;
}  
.tabs {
    font-size: 2rem;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 10px;
    color: black;
}
li.tab {
    border: 1px solid black;
    padding: 10px 15px 10px 15px;
}
  
/* .tab-main{
 display:flex;
 justify-content: center; 
} */

.main-cont {
    max-width: 1200px;
    margin: 0 auto;
}
  
.image {
    text-align: center;
}

.Box {
    width: 25%;
    border-right: 1px solid #ebebeb;
}  

.Box-details {
    text-align: center;
}

a.pro-name {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 1.7rem;
}

.product-price .pri-text {
    color: #464646;
    font-weight: 600;
    font-size: 17px;
}
.product-price {
    padding-top: 25px;
    border-top: 1px solid #ebebeb;
}  
.main-price .sp-orig {
    font-size: 1.5rem;
    text-decoration: line-through;
    color: #666;
}
.main-price .sp-final {
    color: #000;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
}

.btn-shop {
    padding: 0 25px;
}
.main-shop {
    border-radius: 20px;
    background: black;
    margin-top: 4px;
    padding: 5px 10px 5px 10px;
}
a.btn-shop {
    text-decoration: none;
    color: white;
}  
</style>




{% schema %}
  {
    "name": "Kitchen-bath",
    "settings": [
      
    ],
    "presets": [
      {
      "name": "Kitchen-bath"
      }
    ]
  }
{% endschema %}