<div class="main-mateo">
  <div class="mateo-cont">
     <div class="banner-content">
      <h2>{{ section.settings.ban-title }}</h2>
      <h2>{{ section.settings.ban-title1 }}</h2>
       <div class="svg-mateo">
         <svg class="mateo" viewBox="0 0 1008 352" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M93.8892 47.2413L132.924 197.804L169.668 47.2413L258.991 46.3315V119.33C247.737 125.26 242.464 131.191 238.421 143.057C233.676 156.742 230.857 176.364 230.857 195.524C230.857 218.335 234.731 240.237 241.06 254.383C246.154 265.788 250.203 269.893 259.873 273.998V351.102H160.177V273.083C169.494 270.348 173.368 266.698 178.108 255.292C184.437 240.692 188.132 219.7 188.132 197.804V128.001L134.856 351.102H114.987L59.6052 132.561V203.28C59.6052 220.615 63.1207 239.321 68.5679 253.007C73.8467 265.328 78.4179 270.348 89.4921 274.453V351.102H0V273.998C9.67027 271.258 14.0618 267.613 18.633 257.572C24.9675 243.887 28.657 222.44 28.657 199.629C28.657 174.538 24.2599 150.812 16.8752 135.756C12.1299 126.176 8.43481 123.435 0 122.98V47.2413H93.8892Z" fill="#1A9446"></path><path d="M278.36 274.004C287.502 274.004 293.129 266.249 298.756 245.712L352.914 47.2412H408.123L453.312 219.251C466.144 267.613 468.958 274.004 478.982 274.004H486.54V351.108H388.782V274.004L407.769 273.089C410.06 272.628 411.464 267.158 411.464 258.943C411.464 248.907 409.004 241.607 405.483 241.607H338.673C335.685 241.607 333.574 248.452 333.574 257.117C333.574 266.249 336.034 274.004 339.201 274.004H360.125V351.108H270.801V274.004H278.36ZM393.881 189.594L371.901 111.12L350.977 189.594H393.881Z" fill="#1A9446"></path><path d="M660.745 47.2412V200.539H631.908C630.325 173.162 628.747 161.757 624.524 148.987C619.251 133.931 611.692 125.26 603.953 125.26C588.83 125.26 576.7 157.652 576.7 198.714C576.7 221.531 580.744 244.802 587.426 258.488C592.525 269.433 596.922 272.628 606.941 273.998V351.102H517.095V273.998C528.523 270.348 533.622 265.788 538.547 254.383C543.994 241.146 547.336 221.985 547.336 201.454C547.336 159.022 534.15 124.345 518.151 124.345C509.71 124.345 501.27 133.931 495.991 149.896C491.774 162.672 490.19 174.078 489.14 200.539H458.192V47.2412H660.745Z" fill="#1A9446"></path><path d="M763.872 34.1453C781.91 26.0081 789.603 4.06188 789.603 4.06188C789.603 4.06188 768.056 -4.67056 750.018 3.47223C731.981 11.6206 724.287 33.5556 724.287 33.5556C724.287 33.5556 745.835 42.2881 763.872 34.1453Z" fill="#1A9446"></path><path d="M761.019 123.896H778.074C787.217 123.896 794.602 138.491 803.744 174.993H834.164V47.2466H675.037V119.79C685.763 123.441 690.161 128.001 695.613 139.406C702.47 153.547 706.513 174.993 706.513 197.349C706.513 220.621 702.29 242.977 695.434 257.117C690.334 267.613 685.943 271.718 675.919 274.004V351.107H834.164V222.901H803.744C797.769 256.668 788.974 275.368 778.95 275.368H760.318C750.821 275.368 743.263 259.397 735.344 222.446H786.869V169.972H736.754C742.381 138.951 750.473 123.896 761.019 123.896Z" fill="#1A9446"></path><path d="M949.949 47.2412C983.537 47.2412 1007.62 110.21 1007.62 197.81C1007.62 254.837 997.071 305.935 979.667 331.486C970.873 344.717 959.973 351.108 947.136 351.108H907.225C873.643 351.108 847.266 282.208 847.266 194.609C847.266 142.602 858.345 90.1284 874.345 67.7779C883.841 54.0924 896.151 47.2412 909.69 47.2412H949.949ZM928.677 122.071C913.206 122.071 900.896 154.462 900.896 194.609C900.896 238.411 913.206 273.089 929.031 273.089C944.322 273.089 956.986 240.237 956.986 200.545C956.986 157.203 944.322 122.071 928.677 122.071Z" fill="#1A9446"></path></svg>
       </div>
     </div> 
  </div>
</div>

<style>


.banner-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}  
  
.banner-content h2 {
    font-size: 50px;
    margin: 0;
    color: #1a9446;
    font-family: Neue Haas Grotesk Display, sans-serif;
}  
</style>

{% schema %}
  {
    "name": "Mateo Banner",
    "settings": [
      {
        "type": "text",
        "id": "ban-title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "ban-title1",
        "label": "Title 1"
      }
    ],
    "presets": [
      {
        "name": "Mateo Banner"
      }
    ]
  }
{% endschema %}